PidFile=/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix-agent/zabbix_agentd.log
LogFileSize=0
Server={{ zbx_server_addr }}
ServerActive={{ zbx_server_addr }}
Hostname={{ inventory_hostname }}
HostMetadata={{ inventory_hostname }}
Include=/etc/zabbix/zabbix_agentd.conf.d/*.conf 
